    <%- include("./../partials/header.ejs") %>
    <div class="small-container">
        <h1>Ok</h1>
        <h2>September 2024</h2>
        <p>kookkoko</p>
kpkpkkkp
    </div>
    <%- include("./../partials/footer.ejs") %>
    