            <footer>
                <div class="footer-content">
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/muhammad-omer-14aba6304/" target="_blank" rel="noopener noreferrer">
                            LinkedIn
                        </a>
                        <a href="https://github.com/Muhammadomer902" target="_blank" rel="noopener noreferrer">
                            GitHub
                        </a>
                    </div>
                    <div class="copyright">
                        <p>&copy; <%= new Date().getFullYear() %> Your Name. All rights reserved.</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>