<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Application</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class = "container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/create-post">Create Post</a></li>
                    <li><a href="/edit-post">Edit Post</a></li>
                    <li><a href="/delete-post">Delete Post</a></li>
                </ul>
            </nav>
        </header>